* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: #121826;
    background-image: url(img/Background_image@3x.png);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    color: #9DA3AE;
}

.header {
    text-align: center;
    padding: 2rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    max-width: 600px;
    margin: 0 auto;
    color: #E5E7EB;
    font-size: 2.5rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.card {
    max-width: 340px;
    background-color: #212936;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;    
}

.card:hover {
    transform: translateY(-5px);
}

.card-content {
    align-self: flex-start;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-bottom: 1rem;
}

.card-emoji {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.emoji-hand {
    background-color: #FCEED8;
}

.emoji-goal {
    background-color: #DEE9FC;
    padding-bottom: 0.5rem;
}

.emoji-chat {
    background-color: #FBE5E6;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #D2D5DA;
}

.subtitle, .card-description {
    font-size: 1rem;
    font-weight: 400;
}

.card-image-container {
    align-self: center;
}

.card-img {
    border-radius: 10px;
    min-width: 290px;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author a {
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container {
        flex-flow: row wrap;
    }

    .card {
        margin: auto;
    }
    
    .card-end {
        margin-top: 1rem;
    }

    .card-img {
        max-width: 90%;
        height: auto;
    }

}


@media screen and (min-width: 1025px){

    .header {
        align-content: center;
    }

    .title {
        max-width: 480px;
    }

    .container {
        padding-top: 0.5rem;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
    }

    .card {
        border-radius: 18px;
    }

    .card-content {
        max-width: 260px;
    }

    .card-img {
        max-width: 90%;
        height: auto;
    }
    
}